@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&display=swap');
@media only screen and (max-device-width: 900px) {
    .menu { width:600px; } 
    }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 'Geologica', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    background-color: white;
    width: 100%;
    height: 10vh;
    position: relative;
    z-index: 5;
}

.links {
    display: flex;
    gap: 40px;
    margin: 20px;
}

.links a {
    color: rgb(170, 170, 170);
    text-decoration: none;
}

.logo {
    margin: 20px;
}

.logo img {
    height: 50px;
}

h5 {
    transition: all 0.5s;
    cursor: pointer;
}

h5:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
.slogan{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
.slogan h1{
    font-weight: 900;
    font-size: 3rem;
} 

.frase {
    max-width: 50%;
    text-align: center;
}
.frase h1{
    font-size: 2rem;
    margin-bottom: 20px;
}

.bg_video{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
	position: fixed; 
	right: 0; 
	bottom: 0;
	z-index: -1000;
}
